<!DOCTYPE html>
<html>
  <%= render 'head' %>
  <body class="<%=  controller.controller_name  %>">
    <%= render 'header' %>
    <%= render 'flashes' %>
    <%= yield %>
    <%= render 'footer' %>
  </body>
</html>
